opencv-python==4.4.0.44
requests==2.24.0
PyAutoGUI==0.9.52
configparser==5.0.1
tensorflow==2.3.1
scikit-learn==0.23.2
wget==3.2
numpy==1.15.2
dlib==19.16.0
pygame==1.9.4
imutils==0.5.1
opencv_python==3.4.3.18
scipy==1.1.0
